.vision-mision_valores {
    display: flex;
    justify-content: space-around; /* Distribuye los elementos equitativamente */
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias líneas si es necesario */
}

.elemento {
    width: 30%; /* Ancho del elemento ajustable según sea necesario */
    text-align: center; /* Centra el contenido */
    margin-bottom: 20px; /* Espacio entre cada elemento */
}

.imagen-elemento {
    width: 120px; /* Tamaño del contenedor del círculo */
    height: 120px;
    border: 5px solid #00BFFF; /* Borde celeste */
    border-radius: 50%; /* Para hacerlo circular */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px; /* Ajusta el margen para centrar verticalmente */
    overflow: hidden; /* Para asegurar que la imagen no se desborde */
}

.icono-imagen {
    width: 70px; /* Tamaño de las imágenes de los iconos */
    height: 70px;
    object-fit: cover; /* Ajusta la imagen dentro del contenedor */
}

.texto {
    border-radius: 20px;
    background: #00BFFF;
    padding: 10px;
}

.texto h1 {
    font-size: 1.5em; /* Tamaño del título */
    margin-bottom: 5px; /* Espacio bajo el título */
}

.texto p {
    font-size: 1em; /* Tamaño del párrafo */
}

.circle-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; /* Alineación al inicio */
    flex-wrap: wrap; /* Envuelve los elementos cuando no caben en una sola línea */
    background-color: #f2f2f2; /* Color de fondo para el contenedor */
    padding: 20px; /* Espaciado interno */
}

.element {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente */
    margin-bottom: 20px; /* Espacio entre las columnas */
    text-align: center; /* Centra el texto horizontalmente */
    width: calc(50% - 20px); /* Dos columnas en dispositivos móviles */
    margin-right: 20px; /* Espacio entre las columnas */
}

.element:nth-child(2n) {
    margin-right: 0; /* Elimina el margen derecho para la última columna en cada fila */
}
.elemento_principal {
    flex: 1;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    margin: 20px 0; /* Espacio alrededor del elemento principal */
    max-width: 50%; /* Ancho máximo del elemento principal */
}
.elemento_principal img{
    border-radius: 60%;
    background: #00BFFF;
    width: 400px;
    height: 400px;
}



.element img {
    max-width: 40%; /* Imágenes ajustadas al ancho del contenedor */
    height: auto; /* Altura automática según el ancho */
    border-radius: 8px; /* Bordes redondeados para las imágenes */
}

.texto-2 {
    text-align: center;
    padding: 10px; /* Espaciado interno para el texto */
    background-color: white; /* Fondo blanco para el texto */
    border-radius: 8px; /* Bordes redondeados para el texto */
    margin-top: 10px; /* Margen superior */
}

@media (max-width: 768px) {
    .element {
        width: 100%; /* Una columna completa en dispositivos móviles */
        margin-right: 0; /* Sin margen derecho en dispositivos móviles */
        margin-bottom: 20px; /* Espacio entre elementos */
    }

    .element img{
        width: 40%;
        height: auto;

    } 
    .elemento_principal {
        display: none; /* Oculta el elemento principal en dispositivos móviles */
        order: 3; /* Cambia el orden para que aparezca después de las otras columnas */
    }

    

    .element:nth-child(2n) {
        margin-right: 0; /* Asegura que la última columna en cada fila no tenga margen derecho */
    }
    .texto-2 {
        font-size: 12px; /* Reducción adicional del tamaño de fuente para dispositivos móviles */
    }
}




.lema {
    max-width: 100%; /* Asegura que la imagen no supere el ancho del contenedor padre */
    height: auto; /* Permite que la altura se ajuste automáticamente según el ancho */
    display: block; /* Elimina el espacio adicional debajo de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente */
  }
  